@model List<Vidly.Models.Customers.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

<ul>
    @foreach (var customer in Model)
    {
        <li>@customer.Name</li>
        @Html.ActionLink(customer.Name, "Index", "Customer", routeValues: new { Id = customer.Id });
    }
</ul>